# Per-project `repo upload` hook settings.
# https://chromium.googlesource.com/chromiumos/repohooks/

[Hook Scripts]
cros format = cros format --check --exclude "program/*.json" --commit ${PRESUBMIT_COMMIT}
cros lint = cros lint --commit ${PRESUBMIT_COMMIT}
check_appconfig_json = python3 ./scripts/presubmit_checks/validate_appconfig.py ${PRESUBMIT_FILES}
